// Base styles
@import "base/globals";


@import "components/footer";
@import "components/pagination";

// Pages
@import "pages/AuthPage.scss";
@import "pages/CalendarPage.scss";
@import "pages/HomePage.scss";
@import "pages/OverviewPage.scss";
@import "pages/PlantDetailPage.scss";
@import "pages/PlantListPage.scss";
@import "pages/Nav.scss";
@import "pages/ProfilePage.scss";